/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* Reusable Styling */
.p-design {
  padding: 24vh 8vh;
}
.pt-design {
  padding-top: 24vh;
}
.pb-design {
  padding-bottom: 24vh;
}
.pt-design-sm {
  padding-top: 12vh;
}
.pb-design-sm {
  padding-bottom: 12vh;
}
.p-design-sm {
  padding: 12vh 8vh;
}
.px-design {
  padding-left: 8vh;
  padding-right: 8vh;
}

@media (max-width: 768px) {
  .p-design {
    padding: 16vw 8vh;
  }
  .px-design {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .p-design-sm {
    padding: 8vw 8vh;
  }
  .pt-design {
    padding-top: 16vh;
  }
  .pb-design {
    padding-bottom: 16vh;
  }
  .pt-design-sm {
    padding-top: 8vh;
  }
  .pb-design-sm {
    padding-bottom: 8vh;
  }
}
@media (max-width: 640px) {
  .p-design {
    padding: 10vh 1rem;
  }
  .p-design-sm {
    padding: 5vh 1rem;
  }
  .pt-design {
    padding-top: 5vh;
  }
  .pb-design {
    padding-bottom: 5vh;
  }
  .pt-design-sm {
    padding-top: 5vh;
  }
  .pb-design-sm {
    padding-bottom: 5vh;
  }
}
/* Reusable Styling */

/* Font Declaration */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
}

/* Font Declaration */
