/* purgecss start ignore */
html {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
/* purgecss end ignore */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  text-rendering: optimizeLegibility;
}

/* input {
  vertical-align: middle;
  line-height: normal;
} */

/* input::placeholder,
textarea::placeholder {
  color: #52606d;
  color: #3C4859;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #52606d;
  line-height: 1.5;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #52606d;
  line-height: 1.5;
} */

::selection {
  background: #355957;
  color: #fff;
  text-shadow: none;
}

/* Classes */

.text-muted-black {
  color: #333333;
}

.text-muted-grey {
  color: #414141;
}

.color-invert {
  filter: invert(1);
  mix-blend-mode: difference;
}

.bg-grey-nice {
  background-color: #f6f5f4;
}

.bg-ivory {
  background-color: #f7f1e3;
}

.h-1\/2 {
  height: 50%;
}

.h-14 {
  height: 3.5rem;
}
.main-h-14 {
  min-height: 3.5rem;
}

.center-x {
  top: 50%;
  transform: translate(0, -50%);
}

.center-y {
  right: 50%;
  transform: translateX(+50%);
}

.\-z {
  z-index: -1;
}
.text-hero {
  font-size: clamp(2.8rem, 6vw, 9rem);
}
.text-theme {
  color: #487876;
}
.bg-theme {
  background-color: #c7e2e1;
}
.bg-theme-2 {
  background-color: #355957;
}
.pb-64-percent {
  padding-bottom: 64%;
}
.blur {
  backdrop-filter: blur(24px); /* apply the blur */
  pointer-events: none; /* make the pseudo class click-through */
  transition-duration: 0.25s;
}

.bg-image {
  position: relative;
  background: no-repeat center center;
  background-size: cover;
  transition-property: opacity;
  transition-duration: 0.25s;
}
.loaded .bg-image,
.loaded .blur {
  opacity: 0;
}

.blur-up {
  transition-duration: 800ms;
  opacity: 0;
}
.loaded .blur-up {
  opacity: 0.99;
}

.center-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.max-w-80 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .md\:h-14 {
    height: 3.5rem;
  }
}
